{{extend 'layout.html'}}

<DIV class='container'>
<center><img src='{{=URL("static","images/logo-rainforest-rhythms.png")}}' alt=" Rainforest Rhythms"></center>
<H1>Welcome to Rainforest Rhythms</H1>

<p>We are scientists working in some of the world's most threatened rainforest. As part of our research, we collect recordings of the day to day sounds of the rainforest: these soundscapes help us learn about the species that live in the forest and the overall health of the forest.</p>

<p>On this site, you can listen to these soundscapes. You can also help us by finding animal calls in our recordings and - if you think you know what made the call - telling us what it is.</p>
</DIV>
