{{extend 'layout.html'}}
<DIV class='container'>

<h1>Available recordings</h1>

<p> There are a lot of recordings! You can use the simple search tool to look for specific sites and times.</p>
<ul>
 <li  style='color:white'>Press the <span class='glyphicon glyphicon-play'></span> button to get a quick-loading simple player</li>
 <li style='color:white'> Press the <span class='glyphicon glyphicon-equalizer'></span> button to get a player showing the waveform of the audio through time - this will take longer to load</li>
 </ul>

{{=form}}
</DIV>
