{{extend 'layout.html'}}
	
	
	<div class="container">
	<div class="panel panel-default wavepanel">
	  <div class="panel-heading panel-warning">
		{{if record.call_note is not None:}}
		{{=CAT(B('Call notes: '), record.call_note)}}
		{{pass}}
	  </div>
	  <div class="panel-body">
		<div class='row'>
		<div class="col-sm-12">
		  <div id="waveform"></div>
		  <div id="waveform-timeline"></div>
		</div>
		</div>
	  </div>
	  
	  <div class='panel-footer'>
		<div class='row'>
		<div class="col-sm-10">
			<small>Call region identifed by {{=record.created_by.first_name + ' ' + record.created_by.last_name}}
			on {{=record.created_on}}</small>
		</div>
		<div class="col-sm-2">
		  <button class="btn btn-primary" onclick="wavesurfer.playPause()" style='padding: 3px 8px' id='play'>
			<i class="glyphicon glyphicon-play"></i>
			Play
		  </button>
		</div>
		
	  </div>
	</div>
	</div>
	</div>
	
	<div class="container">
		<h2>Identifications</h2>
		<div class="panel panel-default">
			{{=ident_group}}
			{{if auth.is_logged_in():}}
			<div class="panel-body" style='padding:0px'>
				<div class='row'>
					<div class='col-sm-12'>
						<div class='pull-right'>
							<a href={{=URL('default', 'propose_identification', vars={'call_id': record.id} ,scheme=True, host=True)}}
								class="btn btn-primary btn-sm" style='margin:7px;width:180px' id='propose_id'>
								Propose Identification
							</a>
						</div>
					</div>
				</div>
			</div>
			{{pass}}
		</div>
	</div>
	
	<div class="container">
		<h2>Discussion</h2>
		<div class="panel panel-default">
				{{=discussion_group}}
			{{if auth.is_logged_in():}}
			<div class="panel-body">
				<p style='color:black'>If you want italics or other styling, then you can use <a href=http://www.web2py.com/init/static/markmin.html target="_blank">Markmin</a>.</p>
				<div class='row'>
					<form action={{=URL('default', 'update_comments', vars={'call_id': record.id} ,scheme=True, host=True)}} 
					 method="post" id='discussion_form'>
						<div class='col-sm-10'>
							<textarea form='discussion_form' class="form-control" name="comment_text" id="comment_text" /></textarea>
						</div>
						<div class='col-sm-2'>
							<input type="submit" id="submit_comment" value="Comment" 
								class="btn btn-primary btn-sm" style='margin:7px'/>
						</div>
					</form>
				</div>
			</div>
			{{pass}}
		</div>
	</div>

	<!-- Now declare a block of javascript to control the player, which will be inserted
	into the layout at the page_js markers, in the right place below the main JS loads -->
	{{block page_js}}
	<script type="text/javascript">
	
	var wavesurfer = WaveSurfer.create({
		container: '#waveform',
		scrollParent: true,
		minimap: true,
		normalise: false,
		minPxPerSec: 10,
		autocenter: false,
		loop: false,
		//splitChannels: true
		// barWidth: 1
	});
	
	
	// Load the requested sample and  its peaks (uses jQuery)
	//peaks = $.getJSON("{{=URL('static','/audio/SM300545_0+1_20150909_134611_1.json')}}");
	//peak_json = $.getJSON("{{=URL('static','/audio/test.json')}}");
	//peaks = JSON.parse(peak_json.responseText);
	//wavesurfer.load("{{=URL('static','/audio/SM300545_0+1_20150909_134611_1.mp3')}}", peaks);
	//wavesurfer.load("{{=URL('static','/audio/SM300545_0+1_20150909_134611_1.mp3')}}", 
	// [0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1.0]);
	wavesurfer.load("{{=URL('static', 'calls/call_' + str(record.id) + '.mp3')}}");
	
	// When the load completes, do the following actions
	wavesurfer.on('ready', function () {
		
		//Initialise the timeline
		var timeline = Object.create(WaveSurfer.Timeline);
		
		timeline.init({
		  wavesurfer: wavesurfer,
		  container: '#waveform-timeline',
			audioRate: 0.5
		});
	});
	
	// Code to switch the label on the play button 
	// This will fire with a click on the button or
	// if the space button is used to pause and play.
	wavesurfer.on('pause', function () {
			$('#play')[0].innerHTML = "<i class='glyphicon glyphicon-play'></i> Play";
	});
	
	wavesurfer.on('play', function () {
			$('#play')[0].innerHTML = "<i class='glyphicon glyphicon-pause'></i> Pause";
	});
	
	// A function to do ajax updating of voting buttons
	function my_vote(ident_id, score){
		
		// open a request to the my_vote controller with 
		// the id and score attached as variables
		const xhr = new XMLHttpRequest();
		var url = '{{=URL('default', 'my_vote', scheme=True, host=True)}}'
		url = url + '?id=' + ident_id + '&score=' + score
		xhr.open('GET', url); // by default async 
		xhr.responseType = 'json'; // in which format you expect the response to be
		
		xhr.onload = function() {
			if(this.status == 200) {// onload called even on 404 etc so check the status
				// receive back object parsed from the JSON,
				// with the update average score bar 'width',
				// and the bar colour 'barcol'
				// 1) restyle the bar
				bar = $('#votebar_' + ident_id)[0]
				bar.style['width'] = this.response.width
				bar.style['background-color'] = this.response.barcol
				// 2) update the count
				count = $('#votecount_' + ident_id)[0]
				count.innerText = this.response.n_votes
				// 3) shift the halo
				var els = document.querySelectorAll('span[id^="vote_option_' + ident_id + '"]');
				[].forEach.call(els, function (el) {
					el.className = 'vote'
				});
				var halo = document.getElementById("vote_option_" + ident_id + "_" + score);
				halo.className += ' halo'
			}
		};
		
		xhr.onerror = function() {
		  console.log('error')
		};
		
		xhr.send();
	}

	// Look for submission of a comment and update the discussion by AJAX without reloading 
	form = $('#discussion_form')
	form.on('submit', function(event){
		
		// prevent the page redirect
		event.preventDefault();
		
		$.ajax({
			type: 'post',
			url: form[0].action,
			data: form.serialize(),
			success: function(results) {
				// Swap in the new content
				$('#discussion')[0].innerHTML = results;
				// reset the comment box (including renabling the button for some reason)
				form[0][0].value = '';
			}
		});
		return false;
	});
	
	</script>
	{{end page_js}}
