{{extend 'layout.html'}}

<DIV class='container'>
<center><img src='{{=URL("static","images/logo_acoustics.png")}}' alt=" SAFE Acoustics Database" width=300></center>
<H1>Welcome to the SAFE Acoustics Database webpage</H1>

<p>This website maintains a database of automatic acoustic samples recorded at the SAFE Project. It is primarily used as an API and catalogue for recorded files.</p>

<h3>Acoustics website</h3>

<p>Our <a href='http://acoustics.safeproject.net'>Acoustics</a> website provides a user-friendly interface to our acoustics files and to look at the different habitats and species sampled.</p>

<h3>Recording workflow</h3>

<p>The equipment used to record this data and the workflow used to retrieve the data from the field is described <a href='https://sarabsethi.github.io/autonomous_ecosystem_monitoring/'>here.</p>

</DIV>
