{{extend 'layout.html'}}

<div class='panel'>
	<div class='panel-header'>
		<h2 style='color:black'>calls</h2>
	</div>
	<div class='panel-body'>
<ul class="list-group">
<li class='list-group-item'> Some old crap</li>
<ul class="list-group ncollapse">
  <li class="list-group-item">Cras justo odio</li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>
<li class='list-group-item'> Some more old crap</li>
<ul class="list-group collapse">
  <li class="list-group-item">Cras justo odio</li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>
<li class='list-group-item'> Some more old crap</li>
<ul class="list-group collapse">
  <li class="list-group-item">Cras justo odio</li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>
</ul>
</div>
</div>