# ignore error reports
errors/

# ignore session details
sessions/

# ignore database definitions
databases/

# ignore the uploads folder
uploads/

# mac folder junk
.DS_Store

# byte compliled python
*.pyc

# backup files
*.bak

# anonymous R files
.Rdata
.Rapp.history

# Ignore the private files
private/*.pem
private/*.json
